
<nav class="navbar fixed-top navbar-dark bg-dark">
   <a class="navbar-brand" href="#">Smash Forever</a>
  <!-- Navbar content -->
</nav>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-primary btn-lg"> Conasa !</button>
    </div>
  </div>
</div>
<!--RESULTS TABLE  -->
<div class="container-fluid">

  <div class="panel panel-default">

    <div class="panel-heading text-center"><h3>Resultados</h3></div>
    </div>
      <table class="table table-dark transparent">
        <tr >
          <th class="text-center">
            <h4>Luchador</h4>
          </th > 
          <th class="text-center">
            <h4>Puntos Totales</h4>
            </th>
        </tr>
        <tr>
            <td class="text-center">
              <div class = "row">
                <div class="col-12">
                  <img class=" img-repsponsive img-circle" src="../assets/test.jpeg" width="236" height="236">
                </div>
              </div>
            </td>
             <td class="text-center">
                <div class = "row">
                  <div class="col-12"> 
                    <h1 class="mt-5">100</h1>
                  </div>
                </div>
             </td>
        </tr> 
      </table>  


      
  
    <!-- Table -->


  
</div>

<!-- Table -->


<!-- <div class="container">

  <div class="jumbotron text-center" id="jumbotron-top">
    <h2 style="color:white">Welcome to LinkedIn DB</h2>
  </div>  -->


<!-- <div class="panel panel-primary">

    <div class="panel-heading text-center">
      <h4>Public your LinkedIn Profile</h4>
    </div>


    <table class="table">

      <thead>
        <tr class="text-center">
          <td>
            <h4>First Name</h4>
          </td>
          <td>
            <h4>Last Name</h4>
          </td>
          <td>
            <h4>Link </h4>
          </td>
          <td>
            <h4>Action </h4>
          </td>
        </tr>
      </thead>

      <tbody class="text-center">
        <tr>
          <td><input class="form-control" ng-change="formFilled()" placeholder="Enter your First Name" ng-model="newUser.ACCOUNT_FIRST_NAME">
          </td>


          <td><input class="form-control" ng-change="formFilled()" placeholder="Enter your Last Name" ng-model="newUser.ACCOUNT_LAST_NAME"></td>
          <td><input class="form-control" ng-change="formFilled()" placeholder="paste your linkedIn link here" ng-model="newUser.ACCOUNT_LINK"></td>

          <td><button class="btn btn-primary" ng-disabled="userIn" ng-click="addNewUser()">Add</button></td>

        </tr>

      </tbody>

    </table>
  </div>


  <div class="panel panel-primary">
  
    <div class="panel-heading text-center">
      <h4>Profiles</h4>
    </div>
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <td>
            <h4>First Name</h4>
          </td>
          <td>
            <h4>Last Name</h4>
          </td>
          <td>
            <h4>Date Created</h4>
          </td>
          <td>
            <h4>Connect </h4>
          </td>
        </tr>
      </thead>

      <tbody ng-repeat="user in users track by $index" class="text-center">
        <tr>
          <td>{{user.ACCOUNT_FIRST_NAME}}</td>
          <td>{{user.ACCOUNT_LAST_NAME}}</td>
          <td>{{user.DATE_CREATED}}</td>


          <td ng-show="!user.ADDED"><a href="{{user.ACCOUNT_LINK}}" target="_blank"><button class="btn btn-primary" ng-click="userConnected($index)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></button></a></td>

          <td ng-show="user.ADDED"><span ng-disabled="true" class="btn btn-success"><i class="fa fa-check-square" aria-hidden="true"></i></span></td>

        </tr>

      </tbody>

    </table>




  </div> -->



<!-- </div> -->
