
<nav class="navbar fixed-top navbar-dark bg-dark">
   <a class="navbar-brand" href="#">Coñasa Forever</a>
  <!-- Navbar content -->
   <a class="navbar-brand" href="#" data-toggle="modal" data-target="#addUserModal">Participa <i  class="fa fa-plus-square" aria-hidden="true"></i></a>
</nav>
  

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#fighterModal" ng-show="!activateFight" > Coñasa !</button>
    </div>
  </div>
</div>

<!--RESULTS TABLE  -->
<div class=" container-fluid animated fadeIn" ng-show="!activateFight">
  <div class="card transparent ">
  <div class="card-header text-center" style="color:white">
    <h1>Resultados</h1>
  </div>
  <div class="card-body">
      <table class="table table-dark background-color-transparent">
        <tr >
          <th class="text-center border-color-transparent">
            <h5>Luchador</h5>
          </th > 
          <th class="text-center border-color-transparent">
            <h5>Puntos Totales</h5>
            </th>
          <th class="text-center border-color-transparent">
            </th>
        </tr>
          
        <tr ng-repeat="user in users track by $index">
            <td class="text-center">
              <div class = "row">
                <div class="col-12">
                  <img class=" img-fluid image-border" src="{{user.PATH}}" alt="profile pic"  width="106" height="106">
                </div>
              

              </div>
              <div class="row">
                <div class="col-12">
                {{user.NICKNAME}}
                </div>
              </div>
            </td>
             <td class="text-center">
                <div class = "row">
                  <div class="col-12"> 
                    <h1>100</h1>
                  </div>
                </div>
                <div class = "row">
                  <div class="col-12"> 
                    <button class="btn btn-warning" ng-disabled="true"> Corregir puntos
                  </div>
                </div>
                <div class = "row">
                  <div class="col-12"> 
                    <label class="sidenote-text"><i>se necesita permiso para esto</i></label>
                  </div>
                </div>
             </td>
              <td class="text-center">
                <button class="btn btn-danger" ng-click="deletePlayer(user.USER_ID)" ng-disabled="false"><i class="fa fa-trash-o" aria-hidden="true"></i>
              </td>
        </tr> 
      </table>  
  </div>
</div>
</div>


<!--Fight Table  -->
<div class="container-fluid animated fadeIn" ng-show="activateFight">
<div class="card transparent ">
  <div class="card-header text-center" style="color:white">
    <h1>Coñasa en progreso...</h1>
  </div>
  <div class="card-body">
      <table class="table table-dark background-color-transparent">
        <tr >
          <th class="text-center border-color-transparent">
            <h5>Luchador</h5>
          </th > 
         <tr ng-repeat="fight in fights track by $index">
            <td  class="text-center">
              <div class = "row">
                <div class="col-12">
                  <img class=" img-fluid image-border" src="{{fight.IMAGE}}" alt="Fighter picture"  width="106" height="106">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                {{fight.NAME}}
                </div>
              </div>
            </td>
        </tr>  
      </table>  
  </div>
</div>
</div>

<div class="container mt-5 mb-5" ng-show="activateFight">
  <div class="row">
    <div class="col-12 text-center">
       <button class="btn btn-primary btn-lg animated fadeIn" data-toggle="modal" data-target="#fightModal" > Se Acabo !!!</button>
    </div>
  </div>
</div>



<!-- add user Modal  -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModal">Participa en la Coñasa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" ng-model="newUser.name" aria-describedby="Nombre" placeholder="Agreaga tu nombre">
        </div>
        <div class="form-group">
          <label>Apellido</label>
          <input type="text" class="form-control" ng-model="newUser.lastName" aria-describedby="apellido" placeholder="Agreaga tu apellido">
        </div>
        <div class="form-group">
          <label>Foto de perfil</label>
          <input type="text" class="form-control" ng-model="newUser.pictureLink"  aria-describedby="Foto" placeholder="Agreaga el link de tu foto de perfil">
          <small  class="form-text text-muted">Puedes incluir una foto de tu perfil de facebook</small>
        </div>
        
        <div class="form-group">
          <label>Alias</label>
          <input type="text" class="form-control" ng-model="newUser.alias" aria-describedby="Alias" placeholder="Agreaga un alias para tu perfil">
          <small  class="form-text text-muted">Alias puede ser algo como: bicho malo o gallina etc</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="saveUser('addUser')">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!--mode modal  -->
<!-- <div class="modal fade" id="modeModal" tabindex="-1" role="dialog" aria-labelledby="modeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModal">Coñasa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ui-select ng-model="mode" theme="selectize"  style="margin-left: 130px;margin-right: 130px;" title="Elige el modo" on-select="optionSelected($select.selected.TYPE)" >
          <ui-select-match placeholder="Elige el modo de pelea">{{$select.selected.TYPE}}</ui-select-match>
            <ui-select-choices repeat="mode in modes | filter: $select.search">
              {{mode.TYPE}}
            </ui-select-choices>
        </ui-select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="activateFight = !activateFight">Conasa</button>
      </div>
    </div>
  </div>
</div> -->

<!--More Fights modal  -->
<div class="modal fade" id="fightModal" tabindex="-1" role="dialog" aria-labelledby="fightModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModal">Otra ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="activateFight = !activateFight">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#fighterModal" ng-click ="resetObject()">Si</button>
      </div>
    </div>
  </div>
</div>

<!-- fighter modal  -->
<div class="modal fade" id="fighterModal" tabindex="-1" role="dialog" aria-labelledby="fighterModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModal">Elige Personaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-body">
         <div class = "row text-center">
            <div class="col-12 justify-content-center"> 
              <ui-select ng-model="fighterModal.NAME" theme="selectize" title="Elige el modo" on-select="fighterSelected($select.selected)" >
              <ui-select-match placeholder="luchador">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="fighter in fighters | filter: $select.search">
                  {{fighter.NAME}}
                </ui-select-choices>
            </ui-select>
            </div>
          </div>
           <div class = "row text-center" ng-show="fighterModal.IMAGE != ''">
            <div class="col-12 justify-content-center"> 
              <img class=" img-fluid image-border" src="{{fighterModal.IMAGE}}" alt="profile pic"  width="106" height="106">
            </div>
          </div>

       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-show="fightInProgress">El mismo</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="activateFight = !activateFight; beginFight()">Empezar</button>
      </div>
    </div>
  </div>
</div>